.popup__error {
  display: block;
  color: #ff0000;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  min-height: 29.04px;
  margin-left: 36px;
}

.popup__error:last-of-type {
  margin-bottom: 10px;
}
