.footer {
  margin: 0;
  padding: 0;
  max-width: 880px;
  height: 22px;
  padding-top: 66px;
  padding-bottom: 56px;
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 282px;
    height: 22px;
    padding-top: 49px;
    padding-right: 19px;
    padding-bottom: 33px;
    padding-left: 19px;
  }
}
